:root {
  --md-primary-fg-color: #F24249;
  --md-primary-bg-color: #FFFFFF;
  --md-accent-fg-color: #D60F0F;
}

iframe {
  border: 0;
}

.md-footer-meta {
  display: none;
}

.twemoji > svg {
  width: 30px;
}
